* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    padding-top: 50px;
    background-color: #fafafa;
    font-size: 16px;
}

header {
    background-color: #ffa726;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

header div {
    max-width: 1240px;
    text-align: center;
    margin-inline: auto;
}

header h1 {
    padding: 20px 20%;
    font-size: 2.6rem;
}

main {
    background-color: white;
    max-width: 1240px;
    margin-inline: auto;
    padding: 3rem;
    color: #757575;
}

main p {
    padding-block-end: 1em;
}

main h2 {
    padding-block-end: 0.4em;
}

main img {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
}

a {
    color: #ff9800;
}

footer {
    max-width: 1240px;
    background-color: #333;
    margin-inline: auto;
    margin-block-start: 2rem;
    padding: 3rem;
    color: #aaa;
    text-align: center;
}

footer strong {
    color: white;
}
