* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    padding-top: 50px;
    background-color: #fafafa;
    font-size: 16px;
}

header {
    background-color: #ffa726;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

header div {
    max-width: 1240px;
    text-align: center;
    margin-inline: auto;
}

header h1 {
    padding: 20px 20%;
    font-size: 2.6rem;
}

main {
    background-color: white;
    max-width: 1240px;
    margin-inline: auto;
    padding: 3rem;
    color: #757575;
}

main p {
    padding: 0.6em 0;
}

main h2 {
    padding: 0.4em 0;
}

a {
    color: #ff9800; 
}

footer {
    max-width: 1240px;
    background-color: #333;
    margin-inline: auto;
    margin-block-start: 2rem;
    padding: 3rem;
    color: #aaa;
    text-align: center;
}

footer strong {
    color: white;
}

#systems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#systems > a {
    padding: 0.6em;
    display: flex;
    color: inherit;
    text-decoration: none;
    border-radius: 0.8em;
    margin: 0.25em;
    transition: background-color 0.25s;
}

#systems a:hover {
    background-color: #eeeeee;
}

#systems img {
    height: 4rem;
    width: 4rem;
    margin-right: 1em;
    align-self: center;
}
